<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcB7EQvhVxDKKXyeIK58DHzm8UCcStJS8</string>
	<key>GCM_SENDER_ID</key>
	<string>773435849487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.employeeManagement</string>
	<key>PROJECT_ID</key>
	<string>employee-management-aac90</string>
	<key>STORAGE_BUCKET</key>
	<string>employee-management-aac90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773435849487:ios:a9d819897e629c55451c7a</string>
</dict>
</plist>